<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to DSAI SuperApp</h2>
        <form action="/dbs" method="post">
            <input type="submit" value="Predict DBS price">
        </form>    
        <form action="/deepseek" method="post">
            <input type="submit" value="Deepseek chatbot via Groq">
        </form>
        <form action="/llama" method="post">
            <input type="submit" value="LLAMA chatbot via Groq">
        </form>
         <form action="/start_telegram" method="post">
            <input type="submit" value="Start Telegram">
        </form>
        <form action="/stop_telegram" method="post">
            <input type="submit" value="Stop Telegram">
        </form>       
        
        <form action="/start_telegram_spam" method="post">
            <input type="submit" value="Start Telegram (Spam)">
        </form>
        <form action="/stop_telegram_spam" method="post">
            <input type="submit" value="Stop Telegram (Spam)">
        </form>
    </div>
</body>